
/* ESTILOS GENERALES*/

@font-face {
    font-family: bernier;
    src: url(../fonts/BERNIER.ttf);
}

@font-face {
    font-family: neutra;
    src: url(../fonts/neutra.otf);
}

@font-face {
    font-family: nexa;
    src: url(../fonts/Nexa Bold_1.otf);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.contenedor{
	padding: 4em 0em;
}

/*Nav*/
nav{
	padding: 1em 0;
}

nav ul{
	margin-left: -2em;
	padding-top: 0.5em;
}

nav ul li{
	display: inline-block;
	margin-right: 2em;
	list-style: none;
}

nav ul li a{
	font-family: 'nexa';
	font-weight: 600;
	font-size: 0.9em;
}

nav ul li a:hover{
	color: #D93856;
	text-decoration: none;
}

nav ul li ul li{
	margin-right: 1em;
}

.activo{
	color: #D93856;
}

/*Header*/
.header{
	 background: url('../img/alt1.png') bottom no-repeat,
     			 url('../img/alt0.jpg') no-repeat;
     background-size: 100% auto;
     height: 140vh;    
}

.header__contenido{
	padding: 8em 0;
	text-align: center;
}

.header__contenido img{
	height: auto;
	width: 30%;
}

.header__contenido__parrafo{
	background-image: url('../img/background__parrafo.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    padding: 0.5em 0;
    margin-top: 3em;
}

.header__contenido__parrafo p{
	color:#6B7067;
	font-family: 'neutra';
	font-size: 1.4em;
	text-align: center;
}

.header__contenido__parrafo p:first-child{
	margin-top: 1em;
}

.header__contenido__parrafo p:last-child{
	margin-bottom: 1em;
	padding:0 0.5em;
}

.header__contenido__parrafo p span{
	font-family: 'bernier'!important;
	font-size: 1.4em;
}

/*Fincas*/
.fincas{
	background-image: url('../img/background__fincas.jpg');
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    padding-bottom: 15em;
    padding-top: 8em;
}

.fincas__nuestras__item{
	background-size: 100% auto;
	color:#fff;
	font-family: 'neutra';
	text-align: left;
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-bottom: 7.5em;
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-ms-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.fincas__nuestras__item h4{
	font-size: 2.5em;
	padding-right: 2em;
}

.fincas__nuestras__item p{
	font-size: 1.5em;
	margin-bottom: 3.15em;
}

.fincas__nuestras__item--tipo1{
	background-image: linear-gradient(rgba(166, 124, 82, 0.6) 100%, #000), url('../img/portagro.jpg');
	-webkit-filter: brightness(.7) contrast(2);
}

.fincas__nuestras__item--tipo1:hover{
    background-image: linear-gradient(rgba(166, 124, 82, 0.3) 100%, #000), url('../img/portagro.jpg');
	filter:none;
}

.fincas__nuestras__item--tipo2{
	background-image: linear-gradient(rgba(90, 122, 64, 0.6) 100%, #000), url('../img/f&f.jpg');
	-webkit-filter: brightness(.7) contrast(2);
}

.fincas__nuestras__item--tipo2:hover{
    background-image: linear-gradient(rgba(90, 122, 64, 0.3) 100%, #000), url('../img/f&f.jpg');;
	filter:none;
}

.fincas__nuestras__item--tipo3{
	background-image: linear-gradient(rgba(166, 124, 82, 0.6) 100%, #000), url('../img/gonzales.jpg');
	-webkit-filter: brightness(.7) contrast(2);
}

.fincas__nuestras__item--tipo3:hover{
    background-image: linear-gradient(rgba(166, 124, 82, 0.3) 100%, #000), url('../img/gonzales.jpg');;
	filter:none;
}

.fincas__nuestras__item--tipo4{
	background-image: linear-gradient(rgba(90, 122, 64, 0.6) 100%, #000), url('../img/portagro.jpg');
	-webkit-filter: brightness(.7) contrast(1.5);
}

.fincas__nuestras__item--tipo4:hover{
    background-image: linear-gradient(rgba(90, 122, 64, 0.3) 100%, #000), url('../img/portagro.jpg');;
	filter:none;
}

.fincas__nuestras__item--tipo5{
	background-image: linear-gradient(rgba(166, 124, 82, 0.6) 100%, #000), url('../img/f&f.jpg');
	-webkit-filter: brightness(.7) contrast(1.5);
}

.fincas__nuestras__item--tipo5:hover{
    background-image: linear-gradient(rgba(166, 124, 82, 0.3) 100%, #000), url('../img/f&f.jpg');;
	filter:none;
}

.nuestras{
	background-image: url('../img/background__nuestras.jpg');
	padding: 7em 0;
	text-align: center;
}

.nuestras h3{
	color:#fff;
	font-family: bernier;
	font-size: 3em;
	padding: 0 2em;
}

/*Video*/

.video iframe{
	cursor: pointer;
	width: 100%;
    height: 1280px;
}

.video img{
	width: 100%;
}


/*Recetas*/

.recetas{
	background-image: url('../img/background__recetas.jpg');
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    padding: 7em 0;
}

.recetas h3{
	background-image: url('../img/backrecetas.png');
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
	color:#8B8053;
	font-family: bernier;
	font-size: 5em;
	margin-bottom: 1em;
	text-align: center;
}

.recetas__item{
	background-color: rgba(139,128,83,0.7);
	color:#fff;
	cursor: pointer;
	font-family: 'neutra';
	margin-bottom: 2em;
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.recetas__item__imagen{
	overflow:hidden;
}

.recetas__item__info{
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.recetas__item__imagen img{
	width: 100%;
	height: 100%;
	-webkit-transition: all linear 0.4s;
	-moz-transition: all linear 0.4s;
	-o-transition: all linear 0.4s;
	transition: all linear 0.4s;
}

.recetas__item h4{
	font-size: 2.5em;
	margin-top: 1em;
}

.recetas__item p{
	font-size: 1.8em;
	padding-right: 3em;

}

.recetas__item:nth-child(2) .recetas__item__info{
	padding-left: 2.5em;
}

.recetas__item:hover{
	background-color: rgba(90, 122, 64, 0.9);
}

.recetas__item:hover .recetas__item__imagen img{
	opacity: 0.4;	
    -moz-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
    -webkit-transform:scale(1.1) rotate(5deg);
	-ms-transform:scale(1.1) rotate(5deg);
}

.recetas__item:hover .recetas__item__info{
	padding-left: 0.5em;
}

.recetas__item:nth-child(2):hover .recetas__item__info{
	padding-left: 3.5em;
}




/*MediaQueries*/

@media screen and (max-width:1600px) {
	.header{
		height: 130vh;
	}
}
	
@media screen and (max-width:1440px) {
	.header{
		height: 155vh;
	}

	.recetas {
	   padding: 4em 0;
	}

	.fincas {
    	padding: 5em 0;
	}
}
	
@media screen and (max-width:1366px) {
	.header{
		height: 130vh;
	}
	
	.recetas {
	   padding: 0em 0;
	}

	.recetas h3{
		margin-top: 1em;
	}

	.fincas {
    	padding-bottom: 8em;
	}

}


@media screen and (max-width:1280px) {

	.recetas {
	   padding: 1em 0;
	   background-size: cover;
	}

}


@media screen and (max-width:1279px) {
	
	nav ul{
   		margin-left: -3em;
	}

	nav ul li {
    	margin-right: 1em;
	}

	.header__contenido {
    	padding: 6em 0;
	}

	.header__contenido img {
	    width: 20%;
	}

	.header__contenido__parrafo p {
    	font-size: 1.2em;
	}

	.fincas__nuestras__item {
    	padding-bottom: 3.5em;
	}

	.fincas__nuestras__item h4 {
    	font-size: 2em;
    }

    .nuestras {
    	padding: 4.41em 0;
	}

	.nuestras h3 {
    	padding: 0 1em;
    }
	
	.recetas__item p {
    	font-size: 1.3em;
	}
	

}


@media screen and (max-width:800px) {
	.header {
	    height: 70vh;
	}

	.header__contenido {
    	padding: 3em 0;
	}

	.header__contenido img {
	    width: 25%;
	}

	.header__contenido__parrafo p{
		font-size: 1em;
   		padding: 0 2.5em;
	}

	.header__contenido__parrafo p:last-child{
		font-size: 1em;
   		padding: 0 2em;
	}

	.fincas {
	    background-repeat: repeat-y;
	}

	.recetas__item{
		text-align: center;
	}

	.recetas__item__info{
		padding: 1em 0 2em 0;
		text-align: center;
	}
	
	.recetas__item:hover .recetas__item__info{
		padding-left: 0em;
	}

	.recetas__item:nth-child(2):hover .recetas__item__info{
		padding-left: 0em;
	}
	
	.recetas__item p {
    	font-size: 1.3em;
    	text-align: center;
    	padding: 1em 2em;
	}


}