


/* ESTILOS GENERALES*/

@font-face {
    font-family: bernier;
    src: url(../fonts/BERNIER.ttf);
}

@font-face {
    font-family: neutra;
    src: url(../fonts/neutra.otf);
}


.contenedor{
	padding: 4em 0em;
}

.header{
	background-image: url('../img/background__header.jpg'); 
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    padding-bottom:28%;
}

.header__contenido{
	padding: 8em 0;
	text-align: center;
}

.header__contenido img{
	height: auto;
	width: 20%;
}

.header__contenido__parrafo{
	background-image: url('../img/background__parrafo.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    padding: 0.5em 0;
    margin-top: 3em;	
}

.header__contenido__parrafo p{
	color:#6B7067;
	font-family: 'neutra';
	font-size: 1.4em;
	text-align: center;
}

.header__contenido__parrafo p:first-child{
	margin-top: 1em;
}

.header__contenido__parrafo p:last-child{
	margin-bottom: 1em;
	padding:0 0.5em;
}

.header__contenido__parrafo p span{
	font-family: 'bernier'!important;
	font-size: 1.4em;
}